* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400');

body {
	font-size: 16px;
}

img,
video {
	display: block;
}

a {
	text-decoration: none;
}

li {
  list-style: none;
}