<!DOCTYPE html>
<html>
  <head>

    {{ $tagline := "Learn how to build UI animation in CSS, SVG/Canvas, and JS" }}

    {{ if .IsHome }}
    <title>{{ .Site.Title }} &middot; {{ $tagline }}</title>
    {{ else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{ end }}

    <!-- use preload for non critical css -->

    <!-- css -->
    <link rel="stylesheet" href='{{ "css/flexboxgrid.css" | relURL }}'>
    <link rel="stylesheet" href='{{ "css/reset.css" | relURL }}'>
    <link rel="stylesheet" href='{{ "css/main.css" | relURL }}'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai-sublime.min.css">

    <!-- favicon -->
    <link rel="icon" href='{{ "images/favicon.ico" | relURL }}'>
    
    <!-- meta tags for SEO -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ $tagline }}">
    <meta name="keywords" content="ui animation, ui coding, ui inspiration, css, svg, canvas, javascript">
    <meta name="author" content="Bhakti Al Akbar">

  </head>