{{ partial "head.html" . }}

  <body>

    <header>
      <div class="header-content">

        <div class="base-width">

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <a href="{{ .Site.BaseURL }}" class="logo">
                <img class="logo-prime" src='{{ "images/logo.svg" | relURL }}' alt="Logo 1">
                <img class="logo-alt" src='{{ "images/logo3.svg" | relURL }}' alt="Logo 2">
              </a>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-8">
              <ul class="header-navigation">
                <li><a href="mailto:uiplease@gmail.com">Sponsor</a></li>
                <li><a href='{{ "about" | relURL }}'>About</a></li>
              </ul>
            </div>
          </div>
          
        </div>


      </div>
    </header>

    <section id="home">
      <div class="base-width home-content">
        <!-- <p>Exploring and building modern-<br>interactive UI on the web.</p> -->
        <p>Learn how to code UI animation<br> in CSS and JavaScript.</p>
        <div class="form-detail">Subscribe to get new inspiration in your inbox weekly!</div>
        
        <!-- mailchimp form -->
        <form class="subscribe-wrapper" action="//balapa.us8.list-manage.com/subscribe/post?u=074a5f521f440ccfa7bacb4e3&amp;id=8a4070226e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_074a5f521f440ccfa7bacb4e3_8a4070226e" tabindex="-1" value="">
          </div>
          <input class="button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </form>

    </section>

    <section id="works">
      <div class="base-width">
        <div class="row wrapper-3">
          {{ range where .Data.Pages "Section" "post" }}
          <div class="col col-md-4 col-sm-4 col-xs-12">
            <a href="{{ .Permalink }}" class="col-content box">

              <img class="thumbnail" src="{{ .Site.BaseURL }}images/thumbnails/{{ .Params.thumbnail }}" alt="">
              
              <h3>{{ .Title }}</h3>
              <detail>{{ .Date.Format "January 2, 2006" }}</detail>

            </a>
          </div>

          {{ end }}
          <div class="col col-md-4 col-sm-4 col-xs-12">
            <div class="next-box">
              <p>I explore new experiment weekly, subscribe to get notified!</p>
            </div>
          </div>
        </div>

        <div class="pattern">Ul</div>

      </div>

    </section>

    <a href="https://twitter.com/balapazz" class="madeby">by @balapazz</a>

    <script src='{{ "js/interaction.js" | relURL }}'></script>

  </body>
</html>
